@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

h1 {
  @apply text-8xl font-extrabold;
}

h2 {
  @apply text-2xl font-bold italic;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.row-item {
  @apply border p-1.5 rounded-2xl shadow-sm;
}

.row-title {
  @apply font-bold text-xl;
}

.row-subtitle {
  @apply font-bold text-2xs text-gray-400;
}

.row-body {
  @apply text-sm;
}

.hover-expand {
  @apply transition-all overflow-y-clip ease-in-out duration-700;
}

.toggle-expand {
  @apply transition-all overflow-y-clip ease-in-out duration-700;
}

.semester-body {
  @apply rounded-lg px-1 shadow-lg w-full;
}

.semester-body-expanded {
  @apply border-2 p-1;
}

.semester-body-collapsed {
  @apply p-0 border-0;
}

.semester-title {
  @apply font-bold text-xl;
}
